<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Thymeleaf Hello World Example</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1151c785ca.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="container-fluid">
    <main role="main" class="container">
        <div class="starter-template">
            <div class="row">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand">
                            <i class="fa-regular fa-circle-user fa-3x"></i>
                            Library Store
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <!-- Button trigger modal -->
                            <!--<form method="post" action="/admin">
                                <button class="btn btn-outline-primary" type="submit">Are You Admin?</button>
                            </form>-->
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <div style="display: inline-block;width: 100%;text-align: center">
                                        <form class="d-flex" action="/search" method="post">
                                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchResult">
                                            <button class="btn btn-outline-primary" type="submit">Search</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                            <form method="post" action="/cartPage">
                                <!-- Button trigger modal -->
                                <button class="btn btn-outline-success" type="submit" data-toggle="modal" data-target="#exampleModal">
                                    <i class="fa-solid fa-cart-shopping fa-3x"></i>
                                </button>
                            </form>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Items on cart</h5>
                                        </div>
                                        <div class="modal-body">

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Buy Items</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2><span class="badge badge-secondary" th:text="${cart.size()}"></span></h2>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="alert alert-danger" role="alert" th:if="${error == true}">
                    failed to add to cart, please put a valid quantity
                </div>
            </div>
            <div class="row">
                <th:block th:each="book: ${books}">
                    <div class="col-4">
                        <div class="card-fluid m-4">
                            <img class="card-img-top" th:src="${book.image}" alt="Card image cap"  style="width: 50%;height: 300px">
                            <div class="card-body">
                                <p th:text="${book.id}" class="card-text" style="display: none"></p>
                                <h5 th:inline="text" class="card-title">
                                    Book Name: [[${book.name}]]
                                </h5>
                                <p th:inline="text" class="card-text">
                                    Quantity: [[${book.quantity}]]
                                </p>
                                <p th:inline="text" class="card-text">
                                    Price Before Discount: [[${book.price}]]
                                </p>
                                <p th:inline="text" class="card-text">
                                    Price After Discount: [[${book.price * ((100 - book.discount)/100)}]]
                                </p>
                                <button onclick="addToCart(this.parentElement)" data-bs-toggle="modal" data-bs-target="#exampleModalLabel2" type="button" class="btn btn-primary">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </main>
    <!-- Modal2 -->
    <div class="modal fade" id="exampleModalLabel2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">New Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="addToCart" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="number" class="form-control" id="formGroupExample" style="display: none" name="id">
                            <label>Quantity</label>
                            <input type="number" class="form-control" id="formGroupExample4" placeholder="Another input" name="quantity" required>
                            <label>Price peer one:</label>
                            <h5 id="price"></h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Add to cart</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script>
    let addToCart = function(e){
        document.getElementById("formGroupExample").value = e.children[0].textContent;
        document.getElementById("price").innerText = e.children[4].innerText.split(":")[1];
    }
    let func = function(){
        if(document.getElementsByClassName("carousel-item").length !== 0)
            document.getElementsByClassName("carousel-item")[0].className = "carousel-item active";
    }
    func();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>